---
- name: Deploy Flask App using Docker
  hosts: flask_app
  become: true
  tasks:
    - name: Pull latest Docker image from Docker Hub
      command: docker pull harshavardhanjvv/flask-cicd-project:latest

    - name: Stop old container (if running)
      command: docker stop flask-app
      ignore_errors: yes

    - name: Remove old container (if exists)
      command: docker rm flask-app
      ignore_errors: yes

    - name: Run new container
      command: >
        docker run -d --name flask-app
        -p 5000:5000
        harshavardhanjvv/flask-cicd-project:latest
